/* SECTION 5 */
@media screen and (min-width: 500px) {
    .sec5 .content {
        min-width: 620px;
        left: 0;
    }

    .sec5 .content .bg-cover {
        width: 100%;
        height: auto;
    }

    .sec5 .content2 {
        width: 450px;
    }

    .sec5 .content2 h1 {
        font-size: 48px;
        line-height: 1.2;
    }
}

@media screen and (min-width: 600px) {
    .sec5 .content {
        min-width: 720px;
    }

    .sec5 .content2 {
        min-width: 580px;
        margin-bottom: 0;
    }
}

@media screen and (min-width: 700px) {
    .sec5 .content {
        min-width: 820px;
    }

    .sec5 .content2 {
        min-width: 680px;
    }
}

@media screen and (min-width: 800px) {
    .sec5 .content {
        min-width: 820px;
    }

    .sec5 .content2 {
        min-width: 780px;
    }
}

@media screen and (min-width: 900px) {
    .sec5 .flex-space {
       flex-wrap: nowrap;
       justify-content: safe;
    }

    .sec5 .content {
        min-width: 0;
        max-width: 450px;
        max-height: 600px;
        left: -20px
    }

    .sec5 .content .bg-cover {
        width: 100%;
        height: 100%;
    }

    .sec5 .container {
        position: absolute;
        bottom: 0;
        left: 430px;
        max-height: 600px;
        overflow: hidden;
    }

    .sec5 .content2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        min-width: 0;
        max-width: 400px;
        overflow: hidden;
    }

    .sec5 .content2 .t-freepik {
        width: 100%;
    }

    .sec5 .bt {
        width: 100%;
    }
}

@media screen and (min-width: 1000px) {
    .sec5 .content {
        min-width: 0;
        max-width: 500px;
        left: -20px
    }

    .sec5 .container {
        position: absolute;
        bottom: 0;
        left: 490px;
    }

    .sec5 .content2 {
        flex-wrap: wrap;
        display: flex;
        align-items: center;
        justify-content: center;
        max-width: 500px;
    }

    .sec5 .content2 h1 {
        font-size: 52px;
        line-height: 1.2;
    }
}

@media screen and (min-width: 1100px) {
    .sec5 .content {
        max-width: 520px;
    }

    .sec5 .container {
        left: 500px;
    }

    .sec5 .content2 {
        max-width: 600px;
        width: 550px;
    }
}

@media screen and (min-width: 1200px) {
    .sec5 .container {
        left: 550px;
    }

    .sec5 .content {
        max-width: 570px;
    }
}

@media screen and (min-width: 1400px) {
    .sec5 .container {
        left: 630px;
    }

    .sec5 .content {
        max-width: 640px;
    }
}

@media screen and (min-width: 1440px) {
    .sec5 .container {
        left: 650px;
    }

    .sec5 .content {
        max-width: 660px;
        height: 70%;
    }
}

@media screen and (min-width: 1600px) {
    .sec5 .container {
        left: 730px;
    }

    .sec5 .content {
        max-width: 750px;
    }
}

@media screen and (min-width: 1680px) {
    .sec5 .container {
        left: 770px;
    }

    .sec5 .content {
        max-width: 790px;
    }
}

@media screen and (min-width: 1920px) {
    .sec5 .container {
        left: 870px;
    }

    .sec5 .content2 {
        width: 830px;
    }

    .sec5 .content {
        max-width: 880px;
    }
}

@media screen and (min-width: 2048px) {
    .sec5 .container {
        left: 930px;
    }

    .sec5 .content {
        max-width: 950px;
    }
}

@media screen and (min-width: 2560px) {
    .sec5 .container {
        left: 1170px;
    }

    .sec5 .content2 h1 {
        font-size: 68px;
    }

    .sec5 .content {
        max-width: 1185px;
    }
}